.container {
    padding: 1rem;
    
    @include mq(bp4) {
        max-width: 90rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.layout--docs {
    .container--docs {
        padding-top: 0;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 1rem 1rem;
    }
}