image: node:lts

stages:
  - dependencies
  - test
  - build
  - deploy
  - publish
cache:
  paths:
    - node_modules/
dependencies:
  stage: dependencies
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules/
  variables:
    SYSTEM: "build"
test:
  stage: test
  script: npm run test:coverage
  coverage: /All\sfiles.*?\s+(\d+.\d+)/
  dependencies:
      - dependencies
  artifacts:
    reports:
      junit: junit.xml
      cobertura: coverage/cobertura-coverage.xml
build:site:
  stage: build
  script:
    - NODE_ENV=staging npm run build:site
  artifacts:
    paths:
      - public
  dependencies:
    - dependencies
build:lib:
  stage: build
  script:
    - GIT_TAG=$CI_COMMIT_TAG npm run build:lib
  artifacts:
      paths:
        - dist
  dependencies:
    - dependencies
deploy:site:
  stage: deploy
  only:
    - master
  script:
    - npm run deploy:site
  dependencies:
    - build:site
deploy:docs:
  stage: deploy
  only:
    - tags
  script:
    - npm run deploy:docs
publish:
  stage: publish
  only:
    - tags
  script:
    - npm set registry "http://registry.npmjs.org"
    - npm set //registry.npmjs.org/:_authToken $COOKIETHOUGH_GITLAB_NPM_TOKEN
    - npx npe version $CI_COMMIT_TAG
    - npm publish
  dependencies:
    - build:lib