.vscode

.parcel-cache
parcel-bundle-reports

node_modules

dist

junit.xml
coverage

# MacOSX
.DS_Store

# TODO: remove these
# Docs development
vendor
.bundle
.jekyll-cache
/docs/jekyll/css
/public
_site