image: node:lts

stages:
  - dependencies
  - test
  - build
  - deploy
  - publish
cache:
  paths:
    - node_modules/
dependencies:
  stage: dependencies
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules/
  variables:
    SYSTEM: "build"
test:
  stage: test
  script: npm run test:coverage
  coverage: /All\sfiles.*?\s+(\d+.\d+)/
  dependencies:
      - dependencies
  artifacts:
    reports:
      junit: junit.xml
      cobertura: coverage/cobertura-coverage.xml
build:site:
  stage: build
  script:
    - npm run build:site
  artifacts:
    paths:
      - public
  dependencies:
    - dependencies
build:lib:
  stage: build
  script:
    - npm run build:lib
  artifacts:
      paths:
        - dist
  dependencies:
    - dependencies
deploy:
  stage: deploy
  only:
    - master
  script:
    - npm run deploy
  dependencies:
    - build:site
publish:
  stage: publish
  only:
    - tags
  script:
    - NPM_TOKEN=${GITLAB_NPM_TOKEN} npm publish from-git
  dependencies:
    - build:lib