h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #009;
}

h2 {
    font-size: 2.625rem;
    font-weight: bold;
    color: #009;
}


a {
    color: #211551;
    transition: .2s ease-out color;
}

a:hover {
    color: black;
}