.button {
  border: 0;
  appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--ct-button-size);
  outline: none;
}

.button--primary {
  padding: var(--ct-button-padding--primary);
  background-color: var(--ct-button-background--primary);
  border-radius: var(--ct-button-border-radius--primary);
  color: var(--ct-button-color--primary);
}

.button--primary:focus {
  box-shadow: var(--ct-button-focus--primary);
}

.button--secondary {
  padding: var(--ct-button-padding--secondary);
  background-color: var(--ct-button-background--secondary);
  border-radius: var(--ct-button-border-radius--secondary);
  color: var(--ct-button-color--secondary);
}

.button--secondary:focus {
  box-shadow: var(--ct-button-focus--secondary);
}
