.ct-button {
  font-family: inherit;
  font-size: var(--ct-button-font-size);
  background: var(--ct-primary-400);
  color: var(--ct-white);
  padding: 0.5rem;
  appearance: none;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  outline: 0;
}

.ct-button:focus-visible {
  outline: 3px solid var(--ct-primary-200);
}

.ct-button-secondary {
  background: var(--ct-primary-300);
}
