.ct-button {
  font-family: inherit;
  background: var(--ct-primary-400);
  color: var(--ct-white);
  padding: 0.5rem;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}

.ct-button-secondary {
  background: var(--ct-primary-300);
}
