.ct-button {
  font-family: inherit;
  font-size: var(--ct-button-font-size);
  background: var(--ct-button);
  color: var(--ct-button-color);
  padding: var(--ct-button-padding);
  appearance: none;
  cursor: pointer;
  border: var(--ct-button-border);
  border-radius: var(--ct-button-radius);
  outline: 0;
}

.ct-button:focus-visible {
  box-shadow: 0px 0px 0px 3px var(--ct-primary-200);
}

.ct-button-secondary {
  background: var(--ct-button-secondary);
  color: var(--ct-button-secondary-color);
  border: var(--ct-button-secondary-border);
}
