@use '../mixins/mediaquery';

.button,
.button:hover {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    background: #fff;
    color: #009;
    border-radius: 5px;

    @include mediaquery.mq(bp3) {
        padding: 1rem 3rem;
    }
}

.button--primary,
.button--primary:hover {
    background: #009;
    color: #fff !important;
}

@include mediaquery.mq(bp2) {
    .button[rel="external"]::before {
        content: url('../icons/external-secondary.svg');
        width: 1rem;
        height: 1rem;
        position: relative;
        top: .2rem;
        margin-right: .5rem;
    }

    .button--primary[rel="external"]::before {
        content: url('../icons/external-primary.svg');
    }
}