@use '../mixins/mediaquery';

.layout--default main {
    background: rgb(239,240,252);
    background: linear-gradient(30deg, rgba(239,240,252,1) 0%, rgba(239,240,252,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
}

.container--main {
    @include mediaquery.mq(bp3) {
        padding: 5rem 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .ct-usp {
        @include mediaquery.mq(bp2) {
            max-width: 568px;
            margin: auto;
        }
    }

    .ct-example .wrapper {
        margin: auto;

        @include mediaquery.mq(bp1) {
            max-width: 90%;
        }

        @include mediaquery.mq(bp2) {
            max-width: 65%;
        }

        @include mediaquery.mq(bp3) {
            max-width: 80%;
        }

        @include mediaquery.mq(bp4) {
            max-width: 65%;
        }
    }


    h2 {
        text-align: center;

        @include mediaquery.mq(bp3) {
            text-align: left;
            margin-bottom: 2rem;
        }
    }

    @include mediaquery.mq(bp3) {
        .ct-usp {
            max-width: 50%;
        }
    }
}

main ul {
    @include mediaquery.mq(bp3) {
        padding-left: 1rem;
    }
}

main ul li {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;

    @include mediaquery.mq(bp3) {
        margin-bottom: 1.5rem;
    }

    &::before{
        content: "\2022";
        font-size: 2rem;
        color: #7676EC;
        position: absolute;
        left: 0;
        margin-top: -0.65rem;
    }
}
