@use '../mixins/mediaquery';

.layout--default nav {
    background: #EFF0FC;

    @include mediaquery.mq(bp3) {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background: transparent;
    }
}

.container .nav {
    @include mediaquery.mq(bp3) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .9rem;
        padding-bottom: 1.5rem;
    }

    @include mediaquery.mq(bp4) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.layout--default nav {
    display: none;

    @include mediaquery.mq(bp3) {
        display: block;
    }
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}

.nav li {
    font-size: 1.5rem;

    a {
        text-decoration: none;

        &:hover {
            color: #211551;
            text-decoration: underline;
        }
    }
}
