.ct-collapse {
  margin-bottom: var(--ct-default-padding);
  overflow: hidden;
  transition: height 250ms ease-out;
  height: 0;
}

@media(prefers-reduced-motion) {
  .ct-collapse {
    transition: none;
  }
}