.ct-collapse {
  overflow: hidden;
  transition: height 250ms ease-out;
  height: 0;
  padding: 0 var(--ct-default-padding);
  scroll-behavior: smooth;
  outline: none;
}

@media(prefers-reduced-motion) {
  .ct-collapse {
    transition: none;
    scroll-behavior: auto;
  }
}