.ct-declaration {
  width: 100%;
  text-align: center;
  padding-top: var(--ct-seperator-padding);
  font-size: var(--ct-text-font-size);
}

.ct-declaration a {
  color: var(--ct-gray-400);
  outline: 0;
}
