.option {
  border: 1px solid var(--blue-200);
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: var(--seperator-padding);
  display: flex;
  font-size: var(--text-font-size);
  font-family: 'Flama Basic';
  transition: background-color 250ms linear, color 250ms linear, border-color 250ms linear;
}

.enabled {
  background-color: var(--blue-400);
  border-color: var(--blue-400);
}

.enabled .optionInfo p {
  color: var(--white);
}

.optionSecondary {
  border-color: var(--blue-100);
  background: var(--blue-100);
}

.optionInfo {
  max-width: 70%;
}

.optionInfo p {
  margin: 0;
  color: var(--blue-400);
}

.optionInfo p:first-of-type,
.declaration {
  font-family: 'Flama';
}

.optionInfo p:not(:first-of-type) {
  margin-top: var(--text-margin);
}

.optionDefault {
  margin-left: auto;
  align-self: center;
  color: var(--gray-400);
}

.declaration {
  width: 100%;
  text-align: center;
  padding-top: var(--seperator-padding);
}

.declaration a {
  color: var(--gray-400);
  outline: 0;
}
