.ct-declaration {
  width: 100%;
  text-align: center;
  padding-top: var(--ct-seperator-padding);
  font-size: var(--ct-text-font-size);
}

.ct-declaration a {
  color: var(--ct-text);
  outline: 0;
}

.ct-declaration a:focus-visible {
  border-radius: 2px;
  box-shadow: 0px 0px 0px 3px var(--ct-primary-200);
}

.ct-options-hidden {
  display: none;
}