.ct-option {
  border: 1px solid var(--ct-primary-200);
  border-radius: 5px;
  margin-bottom: var(--ct-seperator-padding);
  display: flex;
  font-size: var(--ct-text-font-size);
  font-family: var(--ct-secondary-font), Arial, Helvetica, sans-serif;
  transition: background-color 250ms linear, color 250ms linear, border-color 250ms linear;
}

.ct-enabled {
  background-color: var(--ct-policy-enabled);
  border-color: var(--ct-policy-enabled);
}

.ct-essential {
  background-color: var(--ct-policy-essential);
  border-color: var(--ct-policy-essential);
}

.ct-essential .ct-slider {
  color: var(--ct-text);
}

.ct-enabled .ct-option-info p {
  color: var(--ct-policy-text-enabled);
}

.ct-option input[type="checkbox"]{
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.ct-option-info {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.ct-essential .ct-option-info {
  cursor: default;
}

.ct-option-info p, .ct-essential strong {
  color: var(--ct-policy-text);
}

.ct-option-info p {
  margin: 0;
  max-width: 70%;
}

.ct-option-info strong {
  display: block;
}

input[type="checkbox"]:not(:disabled) + .ct-option-info strong {
  margin-bottom: var(--ct-text-margin);
}

input[type="checkbox"]:not(:disabled):focus-visible + .ct-option-info {
  border-radius: 2px;
  box-shadow: 0px 0px 0px 3px var(--ct-primary-200);
}

.ct-slider {
  margin-left: auto;
}

input[type="checkbox"]:not(:disabled) + label .ct-slider {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: var(--ct-slider-secondary);
  width: 1.625rem;
  height: .5rem;
  border-radius: 9999px;
  transition: 250ms ease-in background;
  outline: 0;
  cursor: pointer;
}

input[type="checkbox"]:not(:disabled) + label .ct-slider::after {
  content: '';
  position: absolute;
  top: -.25rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: var(--ct-slider-primary);
  border-radius: 2rem;
  transition: 250ms ease-out background, 250ms ease-out left;
}

input[type="checkbox"]:not(:disabled):checked + label .ct-slider {
  background-color: var(--ct-slider-enabled-primary);
}

input[type="checkbox"]:not(:disabled):checked + label .ct-slider::after {
  background: var(--ct-slider-enabled-secondary);
  left: 50%;
}

@media(prefers-reduced-motion) {
  .ct-option,
  input[type="checkbox"]:not(:disabled) + label .ct-slider,
  input[type="checkbox"]:not(:disabled) + label .ct-slider::after {
    transition: none;
  }
}
