.ct-customization-button {
  font-family: inherit;
  font-size: var(--ct-button-font-size);
  border: none;
  outline: none;
  background-color: inherit;
  padding: 0;
  color: var(--ct-gray-400);
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.ct-customization-button svg {
  margin-left: 0.25rem;
  transition: 250ms linear all;
}

.ct-customization-button svg path {
  stroke: var(--ct-gray-400);
  stroke-width: 1.4;
  stroke-linecap: round;
}

.ct-active svg {
  transform: rotate(-180deg);
  margin-bottom: var(--ct-default-padding);
}
