.ct-customization-button {
  font-family: inherit;
  font-size: var(--ct-button-font-size);
  border: none;
  outline: none;
  background-color: inherit;
  padding: 0;
  color: var(--ct-gray-400);
  display: flex;
  align-items: baseline;
  cursor: pointer;
  margin-bottom: var(--ct-seperator-padding);
}

.ct-customization-button:focus-visible {
  outline: 3px solid var(--ct-primary-200);
  outline-offset: 3px;
}

.ct-customization-button svg {
  margin-left: 0.25rem;
  transition: 250ms linear all;
}

@media(prefers-reduced-motion) {
  .ct-customization-button svg {
    transition: none;
  }
}

.ct-customization-button svg path {
  stroke: var(--ct-gray-400);
  stroke-width: 1.4;
  stroke-linecap: round;
}

.ct-active {
  margin-bottom: var(--ct-default-padding);
}

.ct-active svg {
  transform: rotate(-180deg);
}
