---
import BaseLayout from '../layouts/BaseLayout.astro';

const githubUrl = 'https://github.com/inthepocket/cookie-though/';
---

<BaseLayout title="privacy policy" modifier="privacy-policy">
  <header>
    <div class="container container--header">
      <div class="header-intro">
        <h1 class="site-title">
          <a href="/">
            <svg
              width="28"
              height="28"
              viewBox="0 0 26 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M20.5 14C21.4008 14 22.251 13.7834 23.0014 13.3996C23.0005 13.4329 23 13.4664 23 13.5C23 15.0583 24.0184 16.3788 25.426 16.8321C23.7905 22.1414 18.8459 26 13 26C5.8203 26 0 20.1797 0 13C0 5.8203 5.8203 0 13 0C13.954 0 14.884 0.102758 15.7795 0.29781C15.292 0.899245 15 1.66552 15 2.5C15 3.53742 15.4514 4.46941 16.1684 5.11034C15.4364 6.04443 15 7.22125 15 8.5C15 11.5376 17.4624 14 20.5 14ZM11 7C11 7.55228 10.5523 8 10 8C9.44772 8 9 7.55228 9 7C9 6.44772 9.44772 6 10 6C10.5523 6 11 6.44772 11 7ZM12 13C12 14.1046 11.1046 15 10 15C8.89543 15 8 14.1046 8 13C8 11.8954 8.89543 11 10 11C11.1046 11 12 11.8954 12 13ZM17 20C17.5523 20 18 19.5523 18 19C18 18.4477 17.5523 18 17 18C16.4477 18 16 18.4477 16 19C16 19.5523 16.4477 20 17 20ZM10 19.5C10 20.3284 9.32843 21 8.5 21C7.67157 21 7 20.3284 7 19.5C7 18.6716 7.67157 18 8.5 18C9.32843 18 10 18.6716 10 19.5Z"
                fill="#000099"
              />
            </svg>
            cookie though
          </a>
        </h1>
      </div>
    </div>
  </header>

  <nav>
    <div class="container">
      <ul class="nav">
        <li>
          <a href="/installation">Documentation</a>
        </li>
        <li>
          <a href={githubUrl} target="_blank" rel="noreferrer">Github repo</a>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    <article class="container container--main">
      <section class="ct-cookie-explanation">
        <h2>Privacy policy</h2>
        <p>You can find our <a href="/cookie-policy">cookie policy</a> here</p>
        <p>
          ITP Agency NV, registered office at Sassevaartstraat 46 b 401, 9000 Ghent (Belgium)
          and with enterprise number 0825.170.684 (also referred to below as "In The Pocket",
          "we" or "us") takes your privacy very seriously and considers it important for your
          personal data (hereafter "your data") to be treated with the necessary care and
          confidentiality at all times.
        </p>
        <p>
          This Privacy Statement explains why we require your personal data and what we do
          with it. If you have any questions after reading this Privacy Statement, you are
          always welcome to contact us.
        </p>
        <p>
          To avoid any misunderstandings, we would like to clarify that this Privacy Statement
          is applicable on the processing of personal data from:
        </p>
      </section>
      <section class="ct-cookie-list">
        <h2>Content</h2>
        <ol>
          <li>Who are we?</li>
          <li>Which data do we collect from you?</li>
          <li>For which purposes do we collect your data and on which legal basis?</li>
          <li>From whom do we receive your data?</li>
          <li>How long do we store your data?</li>
          <li>Storage location & security of your data</li>
          <li>Which data do we transfer to third parties or third countries?</li>
          <li>What are your rights as a data subject?</li>
          <li>How can you exercise your rights?</li>
          <li>What are your options for filing a complaint?</li>
        </ol>
      </section>
      <section>
        <h3>1. Who are we?</h3>
        <p>
          In The Pocket is responsible for processing your data. This means that we determine
          the purposes and means (or the "why" and "how" questions) for processing your data.
          For questions concerning the processing of your data, you can always contact us via
          the following contact details:
        </p>
        <ul>
          <li>By mail: In The Pocket, Sassevaartstraat 46/401, 9000 Ghent, Belgium</li>
          <li>By email: <a href="mailto:privacy@inthepocket.com">privacy@inthepocket.com</a></li>
          <li>By telephone:  +32 (0)9 234 34 25</li>
        </ul>
      </section>
      <section>
        <h3>2. Which data do we collect from you?</h3>
        <p>
          Hereunder we clarify which data we can process about you depending on the relationship
          you have with In The Pocket. Depending on the situation, we will not necessarily process
          all of the data mentioned below.
        </p>
        <h4>Users of the Website</h4>
        <ul>
          <li><strong>electronical identification data</strong>: IP address</li>
        </ul>
        <p>
          Since we rely on the use of cookies for processing the above mentioned data, pleaserefer
          to our Cookie Statement for more information.
        </p>
      </section>
      <section>
        <h3>3. For which purposes do we collect your data and on which legal basis?</h3>
        <h4>General</h4>
        <p>
          We only process your data for legitimate purposes, and it will always be processed according
          to the grounds for processing as listed in the European General Data Protection Regulation
          (GDPR). Hereunder we clarify on which legal grounds we process your data depending on your
          relationship with In The Pocket.
        </p>
        <p>
          When we process your data on the basis of your consent, you may withdraw this consent at any
          time by contacting us. We request that you always confirm an orally expressed withdrawal of
          consent in writing (by email or letter).
        </p>
        <p>
          When we process your data on the basis of our legitimate interests, we will limit the effects
          that this may have on your privacy by minimising our use and establishing appropriate access
          and security safeguards in order to prevent unauthorised use. Moreover, you have at any time
          the right to object against the processing of your data that is based on our legitimate interests.
        </p>
        <h4>Users of the Website</h4>
        <p>
          We may process your data based on your prior consent. This is for example the case when you agree
          with the usage of marketing and tracking cookies.
        </p>
        <p>
          We may process other data, such as data of essential cookies and functional cookies. The use of
          essential and functional cookies does not depend on your consent. Essential cookies are, for purely
          technical reasons, necessary to make the communication between your device and the Website possible.
          Functional cookies are necessary in order for the Website to function properly. More information can
          be found in our Cookie Statement.
        </p>
      </section>
      <section>
        <h3>4. From whom do we receive your data?</h3>
        <p>We obtain your data directly from you.</p>
      </section>
      <section>
        <h3>5. How long do we store your data?</h3>
        <p>Your IP address will be stored for less than 24 hours.</p>
      </section>
      <section>
        <h3>6. Storage location & security of your data</h3>
        <p>
          We mainly store your data on externally hosted IT systems. We partly outsource the storageof your data
          to specialised third parties. These external service providers act as "processors" on our behalf
          (see title 7).
        </p>
        <p>
          We and our processors have taken the necessary physical and appropriate technical and organisational
          (precautionary) measures in order to secure your personal data against any form of unlawful processing.
        </p>
      </section>
      <section>
        <h3>7.  Which data do we transfer to third parties or third countries?</h3>
        <p>
          We will not share your data with third parties (except our processors) for commercial reasons without
          your consent. Furthermore will can share your data with third parties if when we are required to do so
          by law, if this is necessary for the purposes for which the data was collected or when this is necessary
          for providing you with our products and services as a digital products studio.
        </p>
        <p>
          As mentioned under title 6, we have engaged external service providers, so-called "processors", to
          support our business operations. These external service providers perform certain processing activities
          on your data on our behalf. We will only share your data with these external service providers insofar
          this is necessary for the purposes for which it was collected.  These "processors" cannot use your data
          for any other purposes. In addition, they are contractually bound to ensure the confidentiality of your
          data. To guarantee the aforementioned commitments, we have concluded so-called "data processing agreements"
          with these parties.
        </p>
        <p>
          Your data might be processed outside the EEA. Your data will only be transferred to third parties located
          in countries outside of the EEA of which the European Commission has decided that they ensure an adequate
          level of protection of your data, or when other measures have been taken to ensure the lawful processing
          of your data in these third countries.
        </p>
        <p>
          Your data will be shared with Cloudflare, as we use their services to detect malicious visitors to our website.
        </p>
      </section>
      <section>
        <h3>8.  What are your rights as a data subject?</h3>
        <p>
          At any time you can manage your data that was collected by In The Pocket, by exercising your rights as a data subject.
        </p>
        <p>You have the following rights:</p>
        <p><strong>Right of access and copy</strong></p>
        <p>You have the right to access your data and to obtain a copy of it. </p>
        <p><strong>Right to rectification</strong></p>
        <p>You have the right to obtain rectification of inaccurate data that concerns you. </p>
        <p><strong>Right to erasure ("right to be forgotten")</strong></p>
        <p>You have the right to request that we erase your data without unreasonable delay.</p>
        <p><strong>Right to restriction of processing</strong></p>
        <p>
          You have the right to restrict the processing of your data. In this case the processing
          will be temporarily ceased until there is, for example, certainty about the correctness
          of the data.
        </p>
        <p><strong>Right to object</strong></p>
        <p>
          You have the right to object against the processing of your data that is based on our
          legitimate interests. You can exercise this right on grounds relating to your particular
          situation. In this case we need to cease the processing, unless we can demonstrate compelling
          legitimate grounds to continue processing your data.
        </p>
        <p>
          You can, regardless of the legal basis upon which the processing is based, always object
          against the use of your data for direct marketing, after which we are obliged to stop
          processing for these purposes.
        </p>
        <p><strong>Right to data portability</strong></p>
        <p>
          You have the right to receive the data, which you provided to us, in a structured,
          commonly used and machine-readable format. This makes it easy for you to transfer
          your data to another organisation.
        </p>
        <p>
          You also have the right to request us to directly transfer your data to another organisation.
        </p>
        <p>
          However, the exercise of the above rights is subject to certain limitations,
          as provided in the GDPR and further specified in other applicable laws and regulations.
        </p>
      </section>
      <section>
        <h3>9. How can you exercise your rights?</h3>
        <p>
          If you would like to exercise one of the rights described above, please contact us
          via the contact details provided under title 1 and repeated under title 9 (by mail, email or telephone).
        </p>
        <p>
          When you submit a request to exercise your rights, we will first of all verify your
          identity by requesting a copy of your identity card. We do so in order to prevent your
          data from falling into the wrong hands. In this event we ask you to cross out the irrelevant
          information on your identity card, such as your citizen number and photo.
        </p>
        <p>
          Exercising your rights is in principle free of charge. If your request appears to be manifestly
          unfounded or excessive (in particular because of its repetitive character), we may charge you a
          reasonable fee in order to cover our own administrative costs. In such cases, however, we may also
          simply refuse to act on your request. You will then be notified of the reasons for this refusal.
        </p>
        <p>
          In each case, we will notify you within a period of 4 weeks (for simple requests), or 3 months
          (for complex or frequent requests) of the response to your request.
        </p>
      </section>
      <section>
        <h3>10.  What are your options for filing a complaint?</h3>
        <p>
          Despite all of our efforts to protect your privacy and to comply with the relevant legislation,
          it is possible that you may not agree with the way in which In The Pocket processes your personal data.
        </p>
        <p>Naturally, in that case you may always contact us, but you also have other possibilities for filing a complaint.</p>
        <p>In first instance, we hereby repeat how we you can reach us:</p>
        <ul>
          <li>By mail: In The Pocket, Sassevaartstraat 46/401, 9000 Ghent, Belgium</li>
          <li>By email: <a href="mailto:privacy@inthepocket.com">privacy@inthepocket.com</a></li>
          <li>By telephone: +32 (0)9 234 34 25</li>
        </ul>
        <p>
          In addition, you can always file a complaint with the supervisory authority,
          which you can contact via the contact details below:
        </p>
        <p>
          <strong>Data Protection Authority</strong><br>
          Drukpersstraat 35, 1000 Brussels<br>
          Tel: +32 (0)2 274 48 00<br>
          Fax: +32 (0)2 274 48 35<br>
          Email: <a href="mailto:contact@apd-gba.be">contact@apd-gba.be</a><br>
        </p>
        <p>
          Subsequently, if you have incurred damages, you can also file a claim
          with the competent court.
        </p>
        <p>
          For more information concerning complaints and legal recourse, we invite you
          to consult the following web page of the Data Protection Authority: <a href="https://www.dataprotectionauthority.be/">https://www.dataprotectionauthority.be/</a>.
        </p>
      </section>
      <section>
        <h3>11. Amendments</h3>
        <p>
          We reserve the right to unilaterally modify our Privacy Statement at any time.
          Each amended version will always be available on the Website and will apply immediately
          from the moment of publication. The date on which our Privacy Statement was last modified,
          can be found hereunder.
        </p>
      </section>
    </article>
  </main>
</BaseLayout>

