:host(.cookie-though) {
  display: block !important;
  font-family: var(--ct-primary-font), Arial, Helvetica, sans-serif;
  position: fixed;
  left: var(--ct-default-padding);
  width: 343px;
  max-height: calc(100% - var(--ct-default-padding) * 2);
  border-radius: 20px;
  box-shadow: 0px 2px 19px -4px rgba(1, 1, 63, 0.1);
  background: var(--ct-white);
  transition: bottom 250ms linear;
  box-sizing: content-box !important;
  z-index: var(--ct-z-index);
}

@media only screen and (max-width: 480px) {
  :host(.cookie-though) {
    /* left positioning and left/right padding */
    width: calc(100vw - calc(var(--ct-default-padding) * 2));
  }
}

@media (prefers-reduced-motion) {
  :host(.cookie-though) {
    transition: none;
  }
}

:host(.cookie-though.visible) {
  bottom: var(--ct-default-padding) !important;
}

:host(.cookie-though) {
  font-family: var(--ct-primary-font), Arial, Helvetica, sans-serif;
  font-size: var(--ct-text-font-size);
}

:host {
  --ct-primary-400: #000099;
  --ct-primary-300: #6161e8;
  --ct-primary-200: #e0e0ff;
  --ct-primary-100: #f0f0ff;
  --ct-text: #6b7280;
  --ct-title: var(--ct-primary-400);
  --ct-subtitle: var(--ct-primary-300);
  --ct-cookie: var(--ct-primary-400);
  --ct-policy: var(--ct-white);
  --ct-policy-enabled: var(--ct-primary-400);
  --ct-policy-text: var(--ct-primary-400);
  --ct-policy-text-enabled: var(--ct-white);
  --ct-policy-essential: var(--ct-primary-100);
  --ct-slider-primary: var(--ct-text);
  --ct-slider-secondary: #d1d5db;
  --ct-slider-enabled-primary: #4c4cff;
  --ct-slider-enabled-secondary: #b3b3ff;
  --ct-button-secondary: var(--ct-primary-300);
  --ct-white: #ffffff;
  --ct-text-margin: 0.25rem;
  --ct-default-padding: 1rem;
  --ct-seperator-padding: 0.5rem;
  --ct-heading-font-size: 1.25rem;
  --ct-sub-heading-font-size: 0.875rem;
  --ct-text-font-size: 0.75rem;
  --ct-button-font-size: 0.8125rem;
  --ct-primary-font: Geneva, sans-serif;
  --ct-secondary-font: Geneva, sans-serif;
  --ct-z-index: 9999;
}

