:host(.cookie-though) {
  font-family: var(--ct-primary-font);
  font-size: 16px;
  position: fixed;
  left: var(--ct-default-padding);
  /* left positioning and left/right padding */
  width: calc(100% - calc(var(--ct-default-padding) * 4));
  border-radius: 20px;
  box-shadow: 0px 2px 19px -4px rgba(1, 1, 63, 0.1);
  background: var(--ct-white);
  padding: var(--ct-default-padding);
  transition: bottom 250ms linear;
  box-sizing: content-box !important;
  z-index: var(--ct-z-index);
}

@media only screen and (min-width: 640px) {
  :host(.cookie-though) {
    width: 311px;
  }
}

:host(.cookie-though.visible) {
  bottom: var(--ct-default-padding) !important;
}

:host(.cookie-though),
:host(.cookie-though button) {
  font-family: var(--ct-primary-font);
  font-size: var(--ct-text-font-size);
}

:host {
  --ct-primary-400: #000099;
  --ct-primary-300: #7676ec;
  --ct-primary-200: #e0e0ff;
  --ct-primary-100: #f0f0ff;
  --ct-gray-400: #78787a;
  --ct-gray-300: #d4d4d4;
  --ct-white: #ffffff;
  --ct-text-margin: 0.25rem;
  --ct-default-padding: 1rem;
  --ct-seperator-padding: 0.5rem;
  --ct-heading-font-size: 20px;
  --ct-sub-heading-font-size: 14px;
  --ct-text-font-size: 12px;
  --ct-primary-font: 'Arial';
  --ct-secondary-font: 'Times';
  --ct-z-index: 9999;
}