:host {
  /* PRIMITIVES */

  /* Colors */
  --ct-primary-400: #009;
  --ct-primary-300: #6161e8;
  --ct-primary-200: #e0e0ff;
  --ct-primary-100: #f0f0ff;
  --ct-neutral-400: #6b7280;
  --ct-neutral-300: #d1d5db;
  --ct-neutral-000: #fff;

  /* Typography */
  --ct-font-family-default: ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif;
  --ct-font-family: var(--ct-font-family-default);
  --ct-font-size: 16px;

  /* Spacing */
  --ct-spacing-1: 4px;
  --ct-spacing-2: 8px;
  --ct-spacing-3: 12px;
  --ct-spacing-4: 16px;

  /* Transition */
  --ct-transition-duration: 300ms;

  /* ELEMENTS */

  /* Banner */
  --ct-banner-z-index: 10000;
  --ct-banner-spacing: var(--ct-spacing-4);

  /* Intro */
  --ct-intro-color: var(--ct-primary-300);
  --ct-intro-weight: 500;
  --ct-intro-size: 0.75rem;

  /* Tagline */
  --ct-tagline-size: calc(var(--ct-font-size) * 0.875);
  --ct-tagline-title-color: var(--ct-primary-400);
  --ct-tagline-title-weight: 700;
  --ct-tagline-title-size: calc(var(--ct-font-size) * 1.25);

  /* Cookie icon */
  --ct-cookie-color: var(--ct-primary-400);

  /* Explanation */
  --ct-explanation-color: var(--ct-neutral-400);
  --ct-explanation-weight: inherit;
  --ct-explanation-size: calc(var(--ct-font-size) * 0.875);

  /* Customize label */
  --ct-customize-label-color: var(--ct-neutral-400);
  --ct-customize-label-size: calc(var(--ct-font-size) * 0.9375);

  /* Option */
  --ct-option-size: calc(var(--ct-font-size) * 0.875);
  --ct-option-max-width: 70%;
  --ct-option-background: var(--ct-neutral-000);
  --ct-option-background--enabled: var(--ct-primary-400);
  --ct-option-background--essential: var(--ct-primary-100);
  --ct-option-color: var(--ct-primary-400);
  --ct-option-color--enabled: var(--ct-neutral-000);
  --ct-option-color--essential: var(--ct-primary-400);
  --ct-option-focus-color: var(--ct-primary-400);
  --ct-option-focus-color--enabled: var(--ct-neutral-000);

  /* Pill (switch) */
  --ct-pill: var(--ct-neutral-300);
  --ct-pill--enabled: #4c4cff;
  --ct-pill-switch: var(--ct-neutral-400);
  --ct-pill-switch--enabled: #b3b3ff;

  /* Essential label */
  --ct-essential-label-color: var(--ct-neutral-400);

  /* Declaration */
  --ct-declaration-color: var(--ct-neutral-400);
  --ct-declaration-size: calc(var(--ct-font-size) * 0.875);

  /* Buttons */
  --ct-button-color--primary: var(--ct-neutral-000);
  --ct-button-color--secondary: var(--ct-neutral-000);
  --ct-button-background--primary: var(--ct-primary-400);
  --ct-button-background--secondary: var(--ct-primary-300);
  --ct-button-focus-color--primary: var(--ct-neutral-000);
  --ct-button-focus-color--secondary: var(--ct-neutral-000);
  --ct-button-border-radius--primary: 2px;
  --ct-button-border-radius--secondary: 2px;
  --ct-button-padding--primary: var(--ct-spacing-2);
  --ct-button-padding--secondary: var(--ct-spacing-2);
  --ct-button-focus--primary: inset 0 0 0 3px var(--ct-button-background--primary),
    inset 0 0 0 5px var(--ct-button-focus-color--primary);
  --ct-button-focus--secondary: inset 0 0 0 3px var(--ct-button-background--secondary),
    inset 0 0 0 5px var(--ct-button-focus-color--secondary);
  --ct-button-size: calc(var(--ct-font-size) * 0.9375);
}

:host(.cookie-though) {
  position: fixed;
  z-index: var(--ct-banner-z-index);
  left: var(--ct-banner-spacing);
  display: block !important;

  /* Max height is defined by the width of the the entire browser minus twice time the --ct-banner-spacing */
  width: calc(100vw - calc(var(--ct-banner-spacing) * 2));
  max-height: calc(100% - var(--ct-default-padding) * 2);
  box-sizing: border-box !important;
  padding: var(--ct-banner-spacing);
  background-color: var(--ct-neutral-000);
  border-radius: 20px;
  box-shadow: 0 2px 19px -4px rgb(1 1 63 / 10%);
  font-family: var(--ct-font-family), var(--ct-font-family-default) !important;
  font-size: var(--ct-font-size);
}

@media only screen and (min-width: 640px) {
  :host(.cookie-though) {
    /* Properties should only be set on desktop */
    width: 343px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :host(.cookie-though) {
    transition: bottom var(--ct-transition-duration) ease-in-out;
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
