////////////////////////////////////////////////////////////////////////////////
// VISUALLY HIDDEN
//
// Description:
// hide elements from sight but make them work. e.g. checkbox hack
////////////////////////////////////////////////////////////////////////////////

@mixin visually-hidden {
	visibility: hidden;
	position: absolute;
  top: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	opacity: 0;
	appearance: none;
}
