aside {
    background: #7676EC;
}

.container--aside {
    @include mq(bp3) {
        display: flex;
        justify-content: space-evenly;
        align-items: self-end;
        padding-top: 4rem;
        padding-bottom: 5rem;

        > * {
            width: 50%;
        }
    }
}

aside .title {
    color: #fff;
}

.container--aside .nav a {
    font-size: 16px;
}
