footer {
    background: #009;
    color: #fff;

    @include mq(bp4) {
        height: 80px;
    }
}

.container--footer {
    text-align: center;

    h3 {
        margin-bottom: 1rem;
    }


    ul, p {
        margin: 0;
    }

    ul {
        li {
            margin-bottom: 0.5rem;
        }

        @include mq(bp4) {
            display: flex;

            li {
                margin-bottom: 0;
            }

            li:not(:last-of-type) {
                margin-right: 3rem;
            }
        }

        @include mq(bp5) {
            width: 50%;

            li:not(:last-of-type) {
                margin-right: 6rem;
            }
        }

        li a {
            text-decoration: none;
            font-weight: 300;
        }
    }

    p {
        margin-left: auto;
    }

    @include mq(bp4) {
        display: flex;
        // justify-content: space-between;
        align-items: baseline;
        margin: auto;
        text-align: left;

        h3 {
            margin-bottom: 0;
            margin-right: 6rem;
        }
    }
}

footer a {
    color: #fff;

    &:hover {
        color: rgba(255,255,255,.8);
    }
}

.footer-title {
    &::before {
        content: url('../images/cookiethough-white.svg');
        margin-right: .5rem;
        position: relative;
        top: .75rem;
    }
}

.inthepocket {
    span {
        @include visually-hidden;
    }

    &::before {
        content: url('../images/itp.svg');
        position: relative;
        top: .5rem;
        margin-left: .3rem;
    }

    &:hover {
        opacity: .8;
    }
}