footer {
    height: 80px;
    background: #009;
    color: #fff;
}

.container--footer {
    @include mq(bp3) {
        display: flex;
        // justify-content: space-between;
        align-items: baseline;
        margin: auto
    }

    ul, p {
        margin: 0;
    }

    h3 {
        margin-right: 6rem;
    }

    ul {
        width: 50%;
        display: flex;

        li:not(:last-of-type) {
            margin-right: 6rem;
        }

        li a {
            text-decoration: none;
            font-weight: 300;
        }
    }

    p {
        margin-left: auto;
    }
}

footer a {
    color: #fff;

    &:hover {
        color: rgba(255,255,255,.8);
    }
}

.footer-title {
    &::before {
        content: url('../images/cookiethough-white.svg');
        margin-right: .5rem;
        position: relative;
        top: .75rem;
    }
}

.inthepocket {
    span {
        @include visually-hidden;
    }

    &::before {
        content: url('../images/itp.svg');
        position: relative;
        top: .5rem;
        margin-left: .3rem;
    }

    &:hover {
        opacity: .8;
    }
}