header {
    background: #EFF0FC;
}

.header-teaser {
    background: url('../images/shapes.svg') no-repeat left center;
    background-size: contain;
}

.tagline {
    font-size: 1.5rem;
    color: #336;
    font-weight: 400;
}

.tagline strong {
    color: #66f;
}