header {
    background: #EFF0FC;
    @include mq(bp3) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.container--header {
    display: flex;
    flex-direction: column-reverse;

    .header-intro > p {
        @include mq(bp2) {
            max-width: 568px;
            margin: auto;
        }
    }
}

@include mq(bp3) {
    .container--header {
        height: 60vh;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 5rem 1rem 5rem 1rem;

        strong {
            font-weight: 600;
        }

        & > * {
            width: 50%;
        }
    }

    header p {
        font-size: 1.5rem;
        font-weight: normal;

        &:last-of-type {
            font-weight: 300;
        }
    }
}

.site-title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;

    &::before {
        content: url('../images/cookiethough.svg');
        margin-right: 0.5rem;
        position: relative;
        top: .7rem;
    }

    @include mq(bp3) {
        font-size: 2rem;
        top: 2rem;

        &::before {
            top: 0.9 rem
        }
    }
}

.header-teaser {
    margin-top: 7rem;
    margin-bottom: 1rem;
    display: flex;
    align-self: stretch;
    background: url('../images/shapes.svg') no-repeat center;

    @include mq(bp3) {
        margin-top: 0;
        background-size: contain;
    }

    &-wrapper img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 22px;

        @include mq(bp1) {
            max-width: 90%;
        }

        @include mq(bp2) {
            max-width: 65%;
        }

        @include mq(bp3) {
            max-width: 80%;
        }

        @include mq(bp4) {
            max-width: 65%;
        }
    }
}

.tagline {
    font-size: 1.75rem;
    color: #336;
    margin-top: 0;
    text-align: center;

    @include mq(bp2) {
        font-size: 2.25rem;
    }

    @include mq(bp3) {
        font-size: 3.5rem;
        line-height: 1.2;
        margin-top: 1rem;
    }

    @include mq(bp4) {
        font-size: 4.75rem;
    }

    @include mq(bp5) {
        font-size: 5.25rem;
    }
}

.tagline strong {
    color: #66f;
    @include mq(bp3) {
        display: block;
    }
}
