nav {
    background: #EFF0FC;
    @include mq(bp4) {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        background: transparent;
    }
}

.container--nav {
    @include mq(bp3) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .5rem;
        padding-bottom: 1.5rem;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav li {
    margin-bottom: 1em;
}