.sidebar {
  border-right: 1px solid rgba(0,0,0,.07);
  overflow-y: auto;
  padding: 40px 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 20;
  background-color: #EFF0FC;
  transition: transform .25s ease-out;

  &.closed {
    position: absolute;
    transform: translateX(-300px);
  }

  .app-name {
    margin: 0 auto 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;

    a {
      text-decoration: none;
    }

    a:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .docs-nav {
    line-height: 2em;
    padding-top: 0;
    padding-bottom: 40px;
  }

  ul {
      margin: 0 0 0 15px;
      padding: 0;
  }

  li {
    list-style: none;
    margin: 6px 0;
  }

  li > a.active {
    font-weight: 600;
    color: #009;
    border-right: 2px solid #009;
  }

  li > a {
    font-size: 14px;
    text-decoration: none;
    display: block;
  }

  li a:hover {
    color: #009;
    text-decoration: underline;
  }
}