.ct-banner {
  font-size: var(--text-font-size);
  margin-bottom: var(--default-padding);
}

.ct-banner p,
.ct-banner h1 {
  margin-top: 0;
  margin-bottom: var(--text-margin);
}

.ct-banner h1 {
  font-size: var(--heading-font-size);
  font-weight: 700;
  color: var(--blue-400);
}

.ct-banner p {
  font-weight: 500;
}

.ct-banner-intro {
  display: flex;
  align-items: center;
  margin-bottom: calc(0.5rem - var(--text-margin));
}

.ct-banner-intro p {
  font-size: var(--sub-heading-font-size);
  color: var(--blue-300);
}

.ct-banner-logo {
  margin-left: auto;
  align-self: flex-start;
}

.ct-banner-logo path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: var(--blue-400);
  stroke: var(--white);
  stroke-width: 0;
}

.ct-banner-explanation {
  color: var(--gray-400);
  font-weight: 400;
  font-family: 'Flama Basic';
}
