.ct-banner {
  font-size: var(--ct-text-font-size);
  margin-bottom: var(--ct-default-padding);
}

.ct-banner-header {
  max-width: 85%;
}

.ct-banner p,
.ct-banner h1 {
  margin-top: 0;
  margin-bottom: var(--ct-text-margin);
}

.ct-banner h1 {
  font-size: var(--ct-heading-font-size);
  font-weight: 700;
  color: var(--ct-primary-400);
}

.ct-banner p {
  font-weight: 500;
}

.ct-banner-intro {
  display: flex;
  align-items: center;
  margin-bottom: calc(0.5rem - var(--ct-text-margin));
}

.ct-banner-intro p {
  font-size: var(--ct-sub-heading-font-size);
  color: var(--ct-primary-300);
}

.ct-banner-logo {
  margin-left: auto;
  align-self: flex-start;
}

.ct-banner-logo path {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: var(--ct-primary-400);
  stroke: var(--ct-white);
  stroke-width: 0;
}

.ct-banner-explanation {
  font-family: var(--ct-secondary-font), Arial, Helvetica, sans-serif;
  color: var(--ct-gray-400);
  font-weight: 400;
}
