name: CI workflow
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm ci --ignore-scripts
      - name: Run ESLint
        run: npm run lint
      - name: Run typecheck
        run: npm run typeCheck
      - name: Run Tests
        run: npm run test:coverage
      - name: Upload test coverage to Codecov
        uses: codecov/codecov-action@v1